instance_alias = "demo-call-centre"
identity_management_type = "CONNECT_MANAGED"
common_name = "challenge-local-measure"
lambda_function_arn = "arn:aws:lambda:af-south-1:1234567:function:NAME_OF_YOUR_LAMBDA"
directory_id="d-12345"